[client]
#password       = your_password
port            = 3306
socket          = /tmp/mysql_3306.sock

[mysqld]
port            = 3306
socket          = /tmp/mysql_3306.sock
skip-external-locking
basedir = /usr/local/mysql
character-set-server=utf8
max_binlog_size = 100M
#tmpdir = /dev/shm/mysql_tmp
expire_logs_days = 14
key_buffer_size = 256M
table_open_cache = 64

# Replication Master Server (default)
log-bin=mysql-bin
binlog_format=mixed
server-id = 1

############################################################
################# 多实例的选项 #################
pid-file        = /tmp/mysql_3306.pid
datadir         = /data/mysql_data_3306
log-error       = /data/mysql_log/error_log_3306.log
slow_query_log  = /data/mysql_log/slow_log_3306.log
long_query_time = 1

############################################################
################# 以下为较少更改的选项 #################
key_buffer = 4096M
max_allowed_packet = 32M
table_cache = 512
sort_buffer_size = 2M
join_buffer_size = 2M
net_buffer_length = 8K
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size =64M
myisam_sort_buffer_size = 128M
thread_cache = 8
thread_concurrency = 16
thread_cache_size = 205
query_cache_size= 128M
query-cache_type=1
query_cache_limit = 2M
#default_table_type = MyISAM
thread_stack = 192K
max_heap_table_size = 123M
binlog_cache_size = 4M
max_binlog_cache_size = 8M

max_connect_errors=9999999
max_connections=3068
wait_timeout=30
skip-name-resolve
#slave-skip-errors=1062
lower_case_table_names=1
back_log=400

#skip-networking
max_tmp_tables=32M
tmp_table_size = 2048M


########################################################
################# 以下为Innodb相应选项 #################
#loose-skip-innodb
#innodb_additional_mem_pool_size = 16M
## 50 - 80 % of RAM but beware of setting memory usage too high
#innodb_buffer_pool_size = 768M
#innodb_data_file_path = ibdata1:512M:autoextend
#innodb_file_io_threads = 4
#innodb_thread_concurrency = 8
#innodb_flush_log_at_trx_commit = 2
#innodb_log_buffer_size = 16M
## 25 % of buffer pool size
#innodb_log_file_size = 128M
#innodb_log_files_in_group = 3
#innodb_max_dirty_pages_pct = 90
#innodb_lock_wait_timeout = 120
#innodb_file_per_table = 0


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout